<footer>
   <div class="footer">
    <div class="f-logo">
      <div class="f-logo-img2">
       <a href="/home">
        <img src="http://localhost:9080/img/stayaway.png" alt="company logo">
       </a>
      </div>
      <div class="f-logo-title">
        <h3><i>"Your Easy Solution for Accommodation Rental."</i></h3>
      </div>
    </div>
    <div class="f-content">
        <div class="f-content-icon">
            <h5><strong>Socials</strong></h5>
            <a href="#"><i class="fa-brands fa-instagram"></i></a>
            <a href="#"><i class="fa-brands fa-facebook"></i></a>
            <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            <a href="#"> <i class="fa-brands fa-github"></i></a>
        </div>
        <div class="f-content-legel">
            <div>
                <a href="#">Privacy</a>
                <a href="#"> Terms & Conditions</a>
            </div>
        </div>
        <div class="f-content-copy">
            <div >
                &copy; <strong><a href="/home">StayAway</a></strong> All Right reserved.
            </div>
        </div>
    </div>
   </div>

   <div class="footer2">
    <h4>Developed By : <strong><i>
        <a href="https://www.linkedin.com/in/vishu-maurya">@Vishal Maurya</a>
    </i></strong></h4>

   </div>


</footer>