<% layout('/layouts/boilerplate.ejs') -%> 

<style>
    body{
        background-color: #bde0fe;
    }
</style>
<body>
             
    <div class="indexPage">
        <div class="container-fluid1">
            <div>
                <form class="d-flex" role="search" method="post" action="/listings/search">
                    <input class="form-control me-2" type="text" name="Search" placeholder="Location &nbsp; eg:Delhi ,Lucknow" >
                    <button class="btn btn-success" type="submit">Search</button>
                </form>
            </div>
        </div>
     
       
       
    
    
        <h3>All listings</h3>
        <div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 card-f">
            <% for (let listing of allListings) { %>
                <a href="/listings/<%=listing._id %>" class="listing-link">
                    <div class="card col listing-card card-full" >
                        <img src="<%=listing.image%>" class="card-img-top" alt="listings_image" style="height:20rem">
                        <div class="card-img-overlay"></div>
                          <div class="card-body ">
                             <p class="card-text">
                             <b> <%=listing.title %> </b><br/>
                             
                             <b>&#8377;</b><%=listing.price.toLocaleString("en-IN") %>/ per night
                             </p>
                          </div>
                    </div>    
                </a>
            <% } %>
        </div>
    </div>
    

    
   





     
</body>
