body{
    font-family: "Plus Jakarta Sans", sans-serif !important ;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}
.logostay{
    height:4.2rem;
    width:4.2rem;
    image-rendering: optimizeQuality;
    /* mix-blend-mode:multiply; */
    object-fit: cover;
}

.container{
    /* flex: 1; */
    margin: 0px !important;
    padding: 0px !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100% !important;
    align-self: center;
}
.container-fluid{
    background-color: #cdb4db;
    padding: 0.5rem;
    width: 100% !important;
}
.container-fluid1{
    /* background-color: #cdb4db; */
    padding: 0.25rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}

/* index card */



.navbar{
    height: 5rem;
    background-color:#cdb4db;
   
}

.nav-link{
    color:#222222 !important;
    
}


/* new page */

/* cards */
.indexPage h3{
    /* background-color: red; */
    margin:0 0 0 5rem;
    font-size: 3rem ;
}
.card-f{
    margin: 0rem;
    padding: 2rem 5rem  2rem 5rem;
    background-color:#bde0fe;
}

.card-full{
    background-color: pink;
    padding: 0.5rem 0.5rem 0rem 0.5rem ;
}

.listing-card{
    border: none !important;
    margin-bottom: 2rem;
}

.card-img-top{
    border-radius: 0.5rem !important;
    width: 100% !important;
    object-fit:cover !important ;
}
.card-body{
    padding-top: 0.5rem !important;
}

.card-text p {
    font-weight: 400 !important;
}

.listing-link{
    text-decoration: none;
    
}

/* card effect */
.card-img-overlay{
    opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #ff0717 !important;
    border:none !important;
}
.edit-btn{
    background-color: #ff0717 !important;
    border:none !important;
}
.listingReview{
    width: 50% !important;
}

/* show page */
.show-img{
    height: 30vh;
}

.btns{
    display: flex;
    flex-direction: row;
    justify-content: left;
}
.show-card{
    padding-left: 0;
    padding-right: 0;
}

.extra-btn{
    border: 0.15rem #007200 solid !important;
    border-radius: 0.4rem  !important;
    margin: 0.2rem !important;
    padding: 0.15rem 0.5rem 0.15rem 0.5rem !important;
    background-color:#cdb4db !important;
    color: rgb(0, 0, 0) !important;
    margin-right: 1.5rem !important;
}
.extra-btn:hover{
    color:rgb(255, 255, 255) !important;
    background-color: #007200 !important;
}
h3{
    margin-top: 1rem;
}




/* search */
.d-flex{
    background-color:  #cdb4db ;
    padding: 0.5rem;
    border-radius: 0.75rem;
    box-shadow: 0 1rem 3rem #ebc8ff;
}



/* home page */

/* auto image */

/* .imageslider{
    max-width: 1440px !important;
} */
.w3-content{
    max-width: 100% !important;
    height: 42rem !important;
    overflow: hidden !important;
}

.mySlide{
   width: 100% !important;
   /* height:50% !important; */
   height: auto !important;
   object-fit: cover !important;
   object-position: center !important;

}
.w3-container h2{
    font-size:5rem ;
    font-weight: bolder;
    color: #51057d;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4rem 0 0 4rem ;
}
.w3-container p{
    color: #ffff00;
    font-size: 2rem;
    font-weight: 900;
    padding: 0 0 0 4rem ;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
.w3-container h3{
    font-size:3rem ;
    font-weight: bolder;
    color: #ffff00;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 4rem 0 0 0 ;
}
.w3-container h4{
    font-size:3rem ;
    font-weight: bolder;
    color: #ffff00;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10rem 5rem 0 5rem ;
}
.w3-container h6{
    font-size:4rem ;
    font-weight: bolder;
    color: rgb(243, 0, 126);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding:2rem 0 0 0;
    /* background-color: red; */
}



/* searchCard */
.searchCardContainer{
   padding:  0 5rem 0 5rem !important;
    /* background-color: green; */
}
.border{
    background-color: red;
}

.searchCard{
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    /* font-family: w3-serif; */
}

.searchCardData{
    background-color: green;
    margin: 3rem;
   
}
.w3-card{
    animation-duration: 2000ms !important;
    margin: 1rem ;
    /* font-family: Helvetica, Arial, sans-serif; */
    /* cursor: pointer; */
}
.w3-card:hover{
    transform: scale(1.05);
    transition: 0.8s;
}
.searchBtn{
    background-color: transparent;
    border: none;
    color: white;
    font-size: 4rem;
    text-shadow:2px 2px 0 #030303;
    font-weight: bolder;
}
#searchheading{
    color: black;
    font-weight: bolder;
    font-size: 3rem;
   

}
.listing-title{
    text-align: center;
    width: 100% !important;
     font-size: 3rem;
}
.listing-title h3{
    font-size: 3rem;

}
.listingComment{
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: nowrap;
}
.listingCommentCard{
    width: 20rem !important;
}


@media only screen and (max-width:1050px){
    .w3-container h3{
        font-size : 2.5rem ;
        padding-top:1rem ;
    }
    .w3-container  h6{
        font-size : 2.5rem ;
        padding-top:1rem ;
    }
}
@media only screen and (max-width:1000px){
    .searchBtn{
        font-size : 3rem ;
    }
    .w3-container  h4{
        font-size : 2.5rem ;
        padding-top:1rem ;
    }
    .f-content{
        flex-direction: column !important;
        
    }
    .f-content-legel ,
    .f-content-icon,
    .f-content-copy{
        margin-bottom: 1rem !important;
    }
}
@media only screen and (max-width:900px){
    .w3-container h2,
    .w3-container  h3,
    .w3-container  h4,
    .w3-container  h6{
        font-size : 2rem ;
        padding-top:0.75rem ;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .w3-container  p{
        font-size : 1rem ;
    }
    .w3-content{
        height: 29rem !important;
        overflow: hidden !important;
    }
}
@media only screen and (max-width:768px){   
    .searchBtn{
        font-size : 2rem ;
    }
    .w3-container  h3 ,
    .w3-container  h4{
        font-size : 1.5rem ;
        padding-top:0.5rem ;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .w3-content{
       
        height: 25rem !important;
        overflow: hidden !important;
    }
}
@media only screen and (max-width:600px){
    .logostay{
        height:3rem;
        width:3rem;
        /* image-rendering: optimizeQuality; */
        /* mix-blend-mode:multiply; */
        object-fit: cover;
        margin: 0px !important;
        padding: 0% !important;
    }
    
    .indexPage h3{
    /* background-color: red; */
        margin:1rem 0 1rem 2rem;
        font-size: 2rem !important ;
    }
    .card-f{
        margin: 0rem;
        padding: 0 2rem 0 2rem !important;
    }
    .listing-card{
        /* background-color: red; */
       width: 90% !important;
       margin: auto !important;
       margin-bottom: 2rem  !important;

    }
    .listing-title{
        text-align: center;
    }
    .btns{
        margin: 1rem !important;
    }
    .edit-btn{
        width: 4rem !important;
    }
    .listingReview{
        /* background-color: red; */
        width: 90% !important;
        margin: auto !important;
    }
    .listingCommentCard{
        width: 30rem !important;
    }
    
    .searchBtn{
        font-size : 4rem ;
    }
    .w3-third{
        /* height: 16rem !important;
        width: 24rem !important; */
    }
    .w3-content{
        max-width: 100% !important;
        height: 19rem !important;
        overflow: hidden !important;
    }
    .mySlide{
        height: 100% !important;
        width: 100% !important;
        object-fit: cover !important;
    }
    .w3-container  h2 ,
    .w3-container  h6{
        font-size : 1.5rem ;
        padding:0.5rem 0.5rem 0 0 !important ;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .w3-container  h3,
    .w3-container  h4{
        font-size : 1rem ;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .w3-container  p{
        padding-left:0.5rem !important ;
    }
    .footer{
        flex-direction: column !important;
    }
    .f-logo{
        width: 100% !important;
        /* background-color: green; */
    
    }
    .f-logo-img2 img{
        margin-bottom: 1rem !important ;
        height: 10rem;
        width: 10rem;
    }
  
}
@media only screen and (max-width:430px){
    .w3-content{
        max-width: 100% !important;
        height: 15rem !important;
        /* overflow: hidden !important; */
    }
    
    .w3-container  h2 ,
    .w3-container  h6{
        font-size : 1rem ;
        padding:0.25rem 0.25rem 0 0 !important ;
        text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }
    .w3-container  h3,
    .w3-container  h4{
        font-size : 0.75rem ;
        text-shadow: 0px 0px 2px rgb(0, 0, 0);
    }
    .w3-container  p{
        font-size : 0.65rem ;
        padding-left:0.25rem !important ;
    }
    .w3-third{
        /* height: 12rem !important; */
        /* width: 20rem !important; */
        margin-bottom: 1rem;
    }
    #searchheading{
        font-size: 2rem !important;
    }
    .searchBtn{
        font-size: 3rem;
    }
}

@media only screen and (max-width:370px){
    .w3-content{
        max-width: 100% !important;
        height: 14rem !important;
        /* overflow: hidden !important; */
    }
}

@media only screen and (max-width:315px){
    .searchBtn{
        font-size : 2rem ;
    }
}
@media   (max-width: 1440px){
    .container{
        max-width: 1400px !important;
    }
}






/* footerrrrr */
.footer{
    background-color: #cdb4db;
    width: 100%;
    /* height: 18rem; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    /* position: fixed; */
}
.f-logo{
    /* background-color: red; */
    width: 30%;
    margin-left: 1rem;
    display: flex !important;
    flex-direction: column;
}
.f-logo-img2{
    width: 100%;
    /* height: 4rem; */
    /* width: 4rem; */
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
   
}
.f-logo-img2 img{
    height: 10rem;
    width: 10rem;
}
.f-logo-title h3{
    text-align: center;
    color: #007200;
    font-size: 1rem;
    font-weight: 800;
    text-shadow: 0.5px 0.5px 1px white;
}
.f-content{
    width: 70%;
    height: 100%;
    /* background-color: green; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.f-content-icon h5{
    text-align: center;
}
.f-content-icon i{
   font-size: 2rem;
   margin: 0 0.5rem 0 0.5rem;
   color: #007200;
}
.f-content-icon  i:hover{
    color: blue;
    transform: scale(1.05);

}
.f-content-legel{                        
    font-size: 1rem;
    
}
.f-content-legel a{
    margin: 0.5rem;
    color: #007200;
}
.f-content-legel a:hover{
    color: blue;
    font-weight: bolder;
}
.footer a{
    text-decoration:none;
}
.f-content-copy{
    margin-right: 1rem;
}
.f-content-copy a{
   font-weight: 900;
   font-size: 1.1rem;
   color: #007200;
}
.f-content-copy a:hover{
    font-weight: 900;
    font-size: 1.2rem;
    color:blue
 }
 .footer2{
    text-align: center;
    background-color: #ecdc24;
    color: black;
    margin-bottom: 0px;
    height: 2rem;
    font-size: 1rem;
 }
 .footer2 h4{
    font-size: 1.25rem;
    margin-top: 0.1rem;
 }
 .footer2 i{
    /* color: purple; */
    text-shadow: 0.5px 0.5px 1px black;
 }
 .footer2 a{
    text-decoration: none;
    color: purple;
 }
 .footer2 a:hover{
    color: blue;
 }