<% layout('/layouts/boilerplate.ejs') -%> 
<style>
    .mb-3 input{
        background-color: #dde5b6;
    }
</style>
<div class="row mt-5 w-100">
    <h2  class="col-6 offset-3">Login on <b>StayAway</b></h2>
    <div class="col-6 offset-3 mt-3">
       <form action="/login" method="POST" class="needs-validation" novalidate>

        <div class="mb-3">
            <label for="username" class="form-label" >Username</label>
            <input name="username" id="username" placeholder="Enter username"  type="text" class="form-control" required>
        </div>

        <div class="mb-4">
            <label for="password" class="form-label" >Password</label>
            <input name="password" id="password" placeholder="Enter your password"  type="password" class="form-control" required>
        </div>
        <button class="btn btn-success mb-5"> Login</button>

       </form>
    </div>
</div>